#clear-form, #delete-all i, #search-button i {
    cursor: pointer;
    vertical-align: -7px;
    padding-left: 10px;
}

#user-table {
    width: 100%;
}

#users-box {
    margin-top: 20px;
}

#users-box thead {
    font-weight: bold;
    padding: 10px;
    background-color: #2c5f53;
    color: white;
}

#users-box tbody {
    background-color: #f0f0f0;
}